workflows/daily_job_search.json
{
  "name": "Daily Job Search & Match Evaluator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "f516a12c-0e70-4d51-9e6e-1d5b3d68ef21",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/v1/jobs/",
        "authentication": "predefined",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_JWT_ACCESS_TOKEN_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "e2cd33a7-58b2-4d2b-ad6b-8cd7c5ccfa7c",
      "name": "Fetch Target Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a9ef7db8-7a54-4720-9428-ec2b55f891d4",
      "name": "Loop Through Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/match/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_JWT_ACCESS_TOKEN_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_description",
              "value": "={{ $json.description_raw }}"
            },
            {
              "name": "resume_id",
              "value": "YOUR_RESUME_UUID_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "83cf78ad-534d-4be9-aa5d-4de655a68ef3",
      "name": "Calculate Compatibility Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 75
            }
          ]
        }
      },
      "id": "cf64a13d-de34-406a-9e5c-7d9a8c65aef3",
      "name": "Match Score >= 75%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=High Compatibility Alert! Job matched with score: {{ $json.score }}%. Missing skills: {{ $json.missing_skills.join(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df65a7bc-ae87-432d-be34-cd76fb5aef29",
      "name": "Notify User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        140
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Target Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Target Jobs": {
      "main": [
        [
          {
            "node": "Loop Through Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Jobs": {
      "main": [
        [
          {
            "node": "Calculate Compatibility Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Compatibility Score": {
      "main": [
        [
          {
            "node": "Match Score >= 75%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Score >= 75%": {
      "main": [
        [
          {
            "node": "Notify User",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2cd38a7-951b-4d43-8ad5-4a5fbde8ef71",
  "meta": {
    "templateId": "daily_job_search_match"
  }
}
